<a href="https://colab.research.google.com/github/superemish/SQLite/blob/main/colab_equipo13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

DB_NAME = "equipo13.db"

def crear_conexion():
    return sqlite3.connect(DB_NAME)

def crear_base_datos_y_datos():
    conn = crear_conexion()
    cursor = conn.cursor()

    cursor.executescript("""
    -- Tabla: artista
    DROP TABLE IF EXISTS artista;
    CREATE TABLE artista (
        id_artista INTEGER PRIMARY KEY,
        nombre_artista TEXT,
        agencia TEXT
    );

    INSERT INTO artista VALUES
    (1, 'BTS', 'Big Hit Entertainment'),
    (2, 'BLACKPINK', 'YG Entertainment'),
    (3, 'Stray Kids', 'JYP Entertainment'),
    (4, 'TWICE', 'JYP Entertainment'),
    (5, 'ATEEZ', 'KQ Entertainment'),
    (6, 'TXT', 'Big Hit Music'),
    (7, 'ITZY', 'JYP Entertainment'),
    (8, 'SEVENTEEN', 'Pledis Entertainment'),
    (9, 'ENHYPEN', 'BELIFT LAB'),
    (10, 'IVE', 'Starship Entertainment'),
    (11, 'LE SSERAFIM', 'Source Music'),
    (12, 'NewJeans', 'ADOR'),
    (13, 'NCT 127', 'SM Entertainment'),
    (14, 'aespa', 'SM Entertainment'),
    (15, 'EXO', 'SM Entertainment'),
    (16, 'Red Velvet', 'SM Entertainment'),
    (17, 'GOT7', 'JYP Entertainment'),
    (18, 'MAMAMOO', 'RBW'),
    (19, '(G)I-DLE', 'Cube Entertainment'),
    (20, 'TREASURE', 'YG Entertainment'),
    (21, 'EVERGLOW', 'Yuehua Entertainment'),
    (22, 'Kep1er', 'Wake One, Swing Entertainment'),
    (23, 'NMIXX', 'JYP Entertainment'),
    (24, 'ZEROBASEONE', 'Wake One');

    -- Tabla: clientes
    DROP TABLE IF EXISTS clientes;
    CREATE TABLE clientes (
        id_cliente INTEGER PRIMARY KEY,
        nombre TEXT,
        apellido_paterno TEXT,
        direccion TEXT,
        fecha_nacimiento DATE,
        pedido_id INTEGER
    );

    INSERT INTO clientes VALUES
   (1, 'Sergio', 'Silva', 'Av. Universidad, CDMX', '1973-01-19', 1),
(2, 'Carlos', 'Castillo', 'Coyoac√°n, CDMX', '1958-06-18', 2),
(3, 'Rosa', 'D√≠az', 'Av. Universidad, CDMX', '1957-12-23', 3),
(4, 'Ver√≥nica', 'Hern√°ndez', 'Av. Chapultepec, CDMX', '1954-08-10', 4),
(5, 'Manuel', 'G√≥mez', 'Coyoac√°n, CDMX', '2006-09-08', 5),
(6, 'Gabriela', 'Torres', 'Av. Chapultepec, CDMX', '1994-01-21', 6),
(7, 'Fernando', 'N√∫√±ez', 'Av. Chapultepec, CDMX', '1975-11-05', 7),
(8, 'Laura', 'Morales', 'Av. Chapultepec, CDMX', '1970-05-15', 8),
(9, 'Mario', 'Castro', 'Coyoac√°n, CDMX', '1959-03-18', 9),
(10, 'Arturo', 'G√≥mez', 'Av. Divisi√≥n del Norte, CDMX', '1972-11-02', 10),
(11, 'Laura', 'Su√°rez', 'Coyoac√°n, CDMX', '1940-12-17', 11),
(12, 'Mario', 'D√≠az', 'Av. Universidad, CDMX', '1949-05-10', 12),
(13, 'Ver√≥nica', 'Rojas', 'Av. Divisi√≥n del Norte, CDMX', '1979-06-08', 13),
(14, 'Fernando', 'Ramos', 'Av. Chapultepec, CDMX', '1953-04-05', 14),
(15, 'Laura', 'Vargas', 'Av. Divisi√≥n del Norte, CDMX', '1947-02-21', 15),
(16, 'Claudia', 'Rojas', 'Coyoac√°n, CDMX', '1944-08-07', 16),
(17, 'Guillermo', 'Mu√±oz', 'Coyoac√°n, CDMX', '1966-12-30', 17),
(18, 'Isabel', 'Mu√±oz', 'Av. Divisi√≥n del Norte, CDMX', '1943-06-27', 18),
(19, 'Jorge', 'D√≠az', 'Coyoac√°n, CDMX', '1942-06-09', 19),
(20, 'Ver√≥nica', 'S√°nchez', 'Av. Universidad, CDMX', '1984-05-10', 20),
(21, 'Rosa', 'Gonz√°lez', 'Av. Universidad, CDMX', '1944-07-17', 21),
(22, 'Fernando', 'Ramos', 'Coyoac√°n, CDMX', '1948-04-11', 22),
(23, 'Laura', 'Castillo', 'Av. Divisi√≥n del Norte, CDMX', '1954-10-16', 23),
(24, 'Rosa', 'Flores', 'Av. Universidad, CDMX', '1996-08-18', 24),
(25, 'Manuel', 'Castro', 'Av. Divisi√≥n del Norte, CDMX', '1979-11-11', 25),
(54, 'roberto', 'flores', 'Tlalpan', '2025-05-01', 43);

    -- Tabla: metodo_pago
    DROP TABLE IF EXISTS metodo_pago;
    CREATE TABLE metodo_pago (
        id_metodo_pago INTEGER PRIMARY KEY,
        tipo_pago TEXT UNIQUE
    );

    INSERT INTO metodo_pago VALUES
    (1, 'Tarjeta de Cr√©dito'),
    (2, 'PayPal'),
    (3, 'Transferencia Bancaria'),
    (4, 'Oxxo Pay'),
    (5, 'Mercado Pago'),
    (8, 'Tarjeta de d√©bito');

    -- Tabla: producto
    DROP TABLE IF EXISTS producto;
    CREATE TABLE producto (
        id_producto INTEGER PRIMARY KEY,
        nombre_producto TEXT,
        precio REAL,
        stock INTEGER,
        artista_id INTEGER
    );

    INSERT INTO producto VALUES
   (1, 'PROOF (Standard Edition)', 780.50, 150, 1),
(2, 'Official Lightstick Ver.2 BLACKPINK', 1020.00, 80, 2),
(3, '5-STAR (Limited Edition)', 688.50, 120, 3),
(4, 'READY TO BE (Digipack Ver.)', 425.00, 200, 4),
(5, 'THE WORLD EP.FIN : WILL', 646.00, 90, 5),
(6, 'PTD On Stage Seoul DVD', 935.00, 50, 1),
(7, 'The Show Livestream Card', 255.00, 300, 2),
(8, 'SKZOO Plush Doll (Felix)', 510.00, 70, 3),
(9, 'Candybong Z Lightstick', 950.00, 60, 4),
(10, 'ZERO : FEVER Part.1 Album', 595.00, 110, 5),
(11, 'The Name Chapter: FREEFALL (Weverse Album Ver.)', 340.00, 180, 6),
(12, 'KILL MY DOUBT (Limited Edition)', 637.50, 95, 7),
(13, 'FML (Carat Ver.)', 476.00, 160, 8),
(14, 'DARK BLOOD (Weverse Album Ver.)', 374.00, 140, 9),
(15, 'I''VE MINE (Album Ver.)', 552.50, 130, 10),
(16, 'UNFORGIVEN (Compact Ver.)', 408.00, 170, 11),
(17, 'Get Up (The POWERPUFF GIRLS x NJ Box ver.)', 500.00, 100, 12),
(18, 'STICKER (Jewel Case Ver.)', 390.00, 190, 13),
(19, 'My World (Hallucination Ver.)', 527.00, 115, 14),
(20, 'EXIST (Photobook Ver.)', 612.00, 85, 15),
(21, 'Chill Kill (Case Ver.)', 459.00, 150, 16),
(22, 'Call My Name', 578.00, 90, 17),
(23, 'MIC ON', 442.00, 105, 18),
(24, 'I love (Album Ver.)', 561.00, 125, 19),
(25, 'REBOOT (Kit Album Ver.)', 493.00, 98, 20);

    -- Tabla: carritos
    DROP TABLE IF EXISTS carritos;
    CREATE TABLE carritos (
        id_carrito INTEGER PRIMARY KEY,
        id_cliente INTEGER,
        fecha_creacion DATE
    );

    INSERT INTO carritos VALUES
    (1, 3, '2025-01-04'),
(2, 12, '2025-01-07'),
(3, 5, '2025-01-12'),
(4, 8, '2025-01-16'),
(5, 13, '2025-01-20'),
(6, 19, '2025-01-22'),
(7, 1, '2025-01-25'),
(8, 7, '2025-01-30'),
(9, 9, '2025-02-01'),
(10, 12, '2025-02-04'),
(11, 6, '2025-02-07'),
(12, 22, '2025-02-10'),
(13, 17, '2025-02-14'),
(14, 5, '2025-02-17'),
(15, 13, '2025-02-19'),
(16, 6, '2025-02-22'),
(17, 9, '2025-02-25'),
(18, 4, '2025-02-28'),
(19, 1, '2025-03-01'),
(20, 7, '2025-03-03'),
(21, 10, '2025-03-06'),
(22, 2, '2025-03-08'),
(23, 17, '2025-03-11'),
(24, 13, '2025-03-13'),
(25, 14, '2025-03-15'),
(26, 5, '2025-03-18'),
(27, 20, '2025-03-21'),
(28, 11, '2025-03-24'),
(29, 5, '2025-03-26'),
(30, 18, '2025-03-29'),
(31, 15, '2025-04-01'),
(32, 23, '2025-04-03'),
(33, 3, '2025-04-05'),
(34, 17, '2025-04-07'),
(35, 18, '2025-04-10'),
(36, 1, '2025-04-12'),
(37, 3, '2025-04-14'),
(38, 21, '2025-04-16'),
(39, 2, '2025-04-18'),
(40, 16, '2025-04-21'),
(41, 6, '2025-04-22'),
(42, 4, '2025-04-24'),
(43, 4, '2025-04-26'),
(44, 18, '2025-04-28'),
(45, 20, '2025-05-01'),
(46, 12, '2025-05-03'),
(47, 17, '2025-05-04'),
(48, 8, '2025-05-06'),
(49, 16, '2025-05-08'),
(50, 19, '2025-05-30'),
(56, 2, '2025-05-31');

    -- Tabla: carrito_detalle
    DROP TABLE IF EXISTS carrito_detalle;
    CREATE TABLE carrito_detalle (
        id_carrito_detalle INTEGER PRIMARY KEY,
        id_carrito INTEGER,
        id_producto INTEGER,
        cantidad INTEGER,
        fecha_agregado DATE
    );

    INSERT INTO carrito_detalle VALUES
    (1, 1, 86, 1, '2025-02-19'),
(2, 1, 45, 2, '2025-01-12'),
(3, 1, 71, 5, '2025-03-16'),
(4, 2, 91, 2, '2025-01-26'),
(5, 2, 29, 1, '2025-04-24'),
(6, 3, 41, 5, '2025-02-25'),
(7, 4, 92, 3, '2025-01-02'),
(8, 4, 31, 3, '2025-05-11'),
(9, 5, 27, 2, '2025-02-15'),
(10, 6, 4, 3, '2025-03-11'),
(11, 7, 62, 1, '2025-01-13'),
(12, 7, 55, 2, '2025-01-22'),
(13, 7, 86, 4, '2025-04-05'),
(14, 8, 58, 5, '2025-03-06'),
(15, 8, 79, 2, '2025-03-08'),
(16, 8, 94, 1, '2025-03-25'),
(17, 9, 62, 2, '2025-01-06'),
(18, 10, 76, 5, '2025-01-05'),
(19, 11, 21, 5, '2025-03-10'),
(20, 11, 96, 5, '2025-05-09'),
(21, 11, 97, 4, '2025-01-03'),
(22, 12, 51, 2, '2025-02-18'),
(23, 12, 90, 10000, '2025-04-03'),
(24, 13, 21, 1, '2025-03-01'),
(25, 14, 15, 5, '2025-02-11'),
(26, 14, 61, 3, '2025-01-22'),
(27, 14, 75, 1, '2025-04-21'),
(28, 15, 51, 3, '2025-02-12'),
(29, 15, 70, 2, '2025-03-21'),
(30, 16, 26, 4, '2025-01-07'),
(31, 17, 10, 2, '2025-01-22'),
(32, 17, 94, 5, '2025-02-04'),
(33, 18, 21, 4, '2025-01-14'),
(34, 19, 5, 5, '2025-01-28'),
(35, 20, 24, 1, '2025-04-09'),
(36, 20, 37, 2, '2025-03-21'),
(37, 20, 6, 3, '2025-02-20'),
(38, 21, 31, 3, '2025-03-27'),
(39, 21, 55, 3, '2025-01-25'),
(40, 21, 87, 1, '2025-01-09'),
(41, 22, 53, 1, '2025-03-19'),
(42, 23, 50, 4, '2025-01-09'),
(43, 24, 99, 4, '2025-01-07'),
(44, 25, 56, 4, '2025-04-19'),
(45, 25, 38, 5, '2025-03-07'),
(46, 26, 67, 1, '2025-01-29'),
(47, 26, 39, 4, '2025-02-17'),
(48, 27, 11, 3, '2025-03-13'),
(49, 27, 15, 3, '2025-02-13'),
(50, 27, 26, 2, '2025-03-30'),
(51, 28, 45, 4, '2025-01-11'),
(52, 28, 14, 1, '2025-01-10'),
(53, 29, 21, 2, '2025-04-04'),
(54, 30, 84, 3, '2025-01-04'),
(55, 31, 67, 3, '2025-04-21'),
(56, 31, 16, 3, '2025-02-27'),
(57, 31, 100, 2, '2025-01-13'),
(59, 33, 100, 2, '2025-03-04'),
(60, 33, 41, 5, '2025-01-16'),
(61, 34, 4, 3, '2025-02-17'),
(62, 34, 42, 1, '2025-04-03'),
(63, 34, 32, 5, '2025-05-07'),
(64, 35, 4, 2, '2025-04-06'),
(65, 36, 68, 3, '2025-01-28'),
(66, 36, 7, 1, '2025-05-10'),
(67, 37, 82, 5, '2025-01-16'),
(68, 38, 95, 2, '2025-01-18'),
(69, 38, 34, 2, '2025-02-13'),
(70, 38, 7, 4, '2025-03-30'),
(71, 39, 22, 4, '2025-04-19'),
(72, 40, 89, 3, '2025-01-14'),
(73, 41, 70, 1, '2025-03-25'),
(74, 41, 57, 2, '2025-04-11'),
(75, 42, 76, 1, '2025-02-14'),
(76, 42, 8, 2, '2025-02-02'),
(77, 43, 91, 1, '2025-04-28'),
(78, 43, 42, 2, '2025-01-30'),
(79, 43, 42, 4, '2025-02-24'),
(80, 44, 46, 3, '2025-04-22'),
(81, 45, 75, 4, '2025-03-13'),
(82, 46, 90, 3, '2025-04-05'),
(83, 46, 55, 2, '2025-01-31'),
(84, 46, 87, 5, '2025-01-07'),
(85, 47, 14, 3, '2025-04-02'),
(86, 47, 10, 3, '2025-02-04'),
(87, 48, 58, 4, '2025-01-27'),
(88, 48, 73, 3, '2025-02-16'),
(89, 49, 51, 5, '2025-02-15'),
(90, 49, 75, 4, '2025-04-10'),
(91, 49, 76, 5, '2025-03-11'),
(92, 50, 87, 5, '2025-02-25'),
(100, 1, 12, 12, '2025-05-28'),
(1000, 1, 12, 12, '2025-05-28'),
(1002, 1, 12, 12, '2025-05-28'),
(1005, 50, 12, 12, '2025-05-29'),
(1006, 50, 12, 12, '2025-05-30'),
(1007, 50, 12, 12, '2025-05-30'),
(1008, 50, 100000, 100000, '2025-05-29'),
(1009, 49, 200000, 200000, '2025-05-29'),
(1011, 49, 12, 12, '2025-05-22'),
(1013, 56, 12, 12, '2025-05-12'),
(1014, 50, 7, 67, '2025-05-06'),
(1015, 56, 7, 7, '2025-05-07');


    -- Tabla: pago
    DROP TABLE IF EXISTS pago;
    CREATE TABLE pago (
        id_pago INTEGER PRIMARY KEY,
        fecha_pago DATE,
        monto_pago REAL,
        estado_pago TEXT,
        metodo_pago_id INTEGER
    );

    INSERT INTO pago VALUES
   (1, '2025-05-15', '781.83', 'Completado', 1),
(2, '2025-05-16', '688.50', 'Completado', 1),
(3, '2025-05-17', '935.00', 'Pendiente', 4),
(4, '2025-05-18', '1020.00', 'Completado', 3),
(5, '2025-05-19', '425.00', 'Completado', 3),
(6, '2025-05-20', '646.00', 'Pendiente', 2),
(7, '2025-05-21', '255.00', 'Completado', 5),
(8, '2025-05-22', '510.00', 'Pendiente', 1),
(9, '2025-05-23', '950.00', 'Completado', 3),
(10, '2025-05-24', '595.00', 'Completado', 3),
(11, '2025-05-25', '340.00', 'Pendiente', 5),
(12, '2025-05-26', '637.50', 'Completado', 5),
(13, '2025-05-27', '476.00', 'Completado', 2),
(14, '2025-05-28', '374.00', 'Completado', 4),
(15, '2025-05-29', '552.50', 'Pendiente', 4),
(16, '2025-05-30', '408.00', 'Completado', 4),
(17, '2025-05-31', '501.50', 'Completado', 1),
(18, '2025-06-01', '391.00', 'Pendiente', 1),
(19, '2025-06-02', '527.00', 'Completado', 3),
(20, '2025-06-03', '612.00', 'Pendiente', 5),
(21, '2025-06-04', '459.00', 'Completado', 5),
(22, '2025-06-05', '578.00', 'Completado', 2),
(23, '2025-06-06', '442.00', 'Pendiente', 2),
(24, '2025-06-07', '561.00', 'Completado', 1),
(25, '2025-06-08', '493.00', 'Pendiente', 4),
(26, '2025-05-21', '300.00', 'Completado', 1),
(27, '2025-05-21', '300.25', 'Completado', 1),
(28, '2025-05-21', '300.25', 'Completado', 1),
(29, '2025-05-21', '781.10', 'Completado ', 2),
(30, '2025-05-14', '652.43', 'Completado ', 1),
(37, '2025-05-06', '111.00', 'completado ', 5),
(38, '2025-05-24', '222.00', 'completado', 2);

    -- Tabla: pedido
    DROP TABLE IF EXISTS pedido;
    CREATE TABLE pedido (
        id_pedido INTEGER PRIMARY KEY,
        fecha_pedido DATE,
        estado_pedido TEXT,
        total_pedido REAL,
        producto_id INTEGER,
        pago_id INTEGER
    );

    INSERT INTO pedido VALUES
   (1, '2025-05-01', 'Completado', '780.50', 1, 1),
(2, '2025-05-02', 'Procesando', '688.50', 3, 15),
(3, '2025-05-03', 'Pendiente', '935.00', 6, 3),
(4, '2025-05-04', 'Completado', '1020.00', 2, 2),
(5, '2025-05-05', 'Enviado', '425.00', 4, 13),
(6, '2025-05-06', 'Procesando', '646.00', 5, 18),
(7, '2025-05-07', 'Completado', '255.00', 7, 4),
(8, '2025-05-08', 'Pendiente', '510.00', 8, 6),
(9, '2025-05-09', 'Enviado', '950.00', 9, 14),
(10, '2025-05-10', 'Completado', '595.00', 10, 5),
(11, '2025-05-11', 'Procesando', '340.00', 11, 20),
(12, '2025-05-12', 'Pendiente', '637.50', 12, 8),
(13, '2025-05-13', 'Completado', '476.00', 13, 7),
(14, '2025-05-14', 'Enviado', '374.00', 14, 16),
(15, '2025-05-15', 'Procesando', '552.50', 15, 21),
(16, '2025-05-16', 'Pendiente', '408.00', 16, 11),
(17, '2025-05-17', 'Completado', '500.00', 17, 9),
(18, '2025-05-02', 'Enviado', '900.00', 18, 17),
(19, '2025-05-19', 'Procesando', '527.00', 19, 22),
(20, '2025-05-02', 'Pendiente', '900.00', 20, 23),
(21, '2025-05-21', 'Completado', '459.00', 21, 10),
(22, '2025-05-22', 'Enviado', '578.00', 22, 19),
(23, '2025-05-23', 'Procesando', '442.00', 23, 24),
(24, '2025-05-16', 'Pendiente', '850.52', 24, 25),
(25, '2025-05-25', 'Completado', '493.00', 25, 12),
(31, '2025-05-23', 'Completado', '855.50', NULL, NULL),
(32, '2025-05-16', '', '850.52', NULL, NULL),
(33, '2024-10-08', '', '0.00', NULL, NULL),
(34, '2025-05-23', 'Procesando', '850.51', NULL, NULL),
(35, '2025-05-02', 'Enviado', '890.00', NULL, NULL),
(36, '2025-05-02', '', '850.51', NULL, NULL),
(37, '2025-05-03', '', '900.00', NULL, NULL),
(38, '2025-05-02', 'Pendiente', '850.51', NULL, NULL),
(39, '2025-05-03', 'Enviado', '900.00', NULL, NULL),
(40, '2025-05-03', 'Entregado', '900.00', NULL, NULL),
(41, '2025-05-02', 'Pendiente', '850.00', NULL, NULL),
(42, '2025-05-04', 'Completado', '500.00', NULL, NULL),
(43, '2025-05-15', 'Procesando', '850.00', NULL, NULL);


    -- Tabla: envio
    DROP TABLE IF EXISTS envio;
    CREATE TABLE envio (
        id_envio INTEGER PRIMARY KEY,
        fecha_envio DATETIME,
        fecha_entrega_estimada DATE,
        estado_envio TEXT,
        numero_rastreo TEXT UNIQUE,
        pedido_id INTEGER
    );

    INSERT INTO envio VALUES
    (1, '2025-05-16 12:00:00', '2025-05-22', 'En Tr√°nsito', 'MXNTRK123456789', 22),
(2, '2025-05-17 10:00:00', '2025-05-23', 'Preparando Env√≠o', 'MXNTRK987654321', 20),
(3, '2025-05-18 11:00:00', '2025-05-24', 'En Tr√°nsito', 'MXNTRK112233445', 14),
(4, '2025-05-19 14:00:00', '2025-05-25', 'En Tr√°nsito', 'MXNTRK556677889', 5),
(5, '2025-05-20 09:00:00', '2025-05-26', 'Entregado', 'MXNTRK001122334', 1),
(6, '2025-05-21 16:00:00', '2025-05-27', 'Preparando Env√≠o', 'MXNTRK445566778', 24),
(7, '2025-05-22 10:00:00', '2025-05-28', 'En Tr√°nsito', 'MXNTRK889900112', 18),
(8, '2025-05-23 15:00:00', '2025-05-29', 'En Tr√°nsito', 'MXNTRK223344556', 9),
(9, '2025-05-24 11:00:00', '2025-05-30', 'Entregado', 'MXNTRK667788990', 17),
(10, '2025-05-25 14:00:00', '2025-05-31', 'Entregado', 'MXNTRK000111222', 25),
(11, '2025-05-26 09:00:00', '2025-06-01', 'Preparando Env√≠o', 'MXNTRK333444555', 3),
(12, '2025-05-27 16:00:00', '2025-06-02', 'En Tr√°nsito', 'MXNTRK666777888', 12),
(13, '2025-05-28 10:00:00', '2025-06-03', 'Entregado', 'MXNTRK999000111', 21),
(14, '2025-05-29 15:00:00', '2025-06-04', 'Entregado', 'MXNTRK222333444', 13),
(15, '2025-05-30 11:00:00', '2025-06-05', 'Preparando Env√≠o', 'MXNTRK555666777', 16),
(16, '2025-05-31 14:00:00', '2025-06-06', 'Entregado', 'MXNTRK888999000', 4),
(17, '2025-06-01 09:00:00', '2025-06-07', 'Entregado', 'MXNTRK111222333', 7),
(18, '2025-06-02 16:00:00', '2025-06-08', 'Entregado', 'MXNTRK444555666', 10),
(26, '2025-06-09 00:00:00', '2025-06-15', 'Preparando Env√≠o', 'MXNTRK000000006', 8);

    -- Tabla: resena
    DROP TABLE IF EXISTS resena;
    CREATE TABLE resena (
        id_resena INTEGER PRIMARY KEY,
        calificacion INTEGER,
        comentario TEXT,
        fecha_resena DATE,
        cliente_id INTEGER
    );

    INSERT INTO resena VALUES
   (1, 5, '¬°El √°lbum de BTS es una obra maestra! Me encant√≥ la calidad.', '2025-05-20', 10),
(2, 4, 'El lightstick de BLACKPINK es hermoso, pero la caja lleg√≥ un poco da√±ada.', '2025-05-21', 2),
(3, 5, 'Stray Kids nunca decepciona, la edici√≥n limitada es incre√≠ble.', '2025-05-22', 22),
(4, 5, 'El √°lbum de TWICE lleg√≥ muy r√°pido y en perfecto estado. ¬°Gracias!', '2025-05-23', 16),
(5, 4, '√Ålbum de ATEEZ, las photocards son fant√°sticas. Muy recomendado.', '2025-05-24', 14),
(6, 5, 'El DVD del concierto de BTS es de alta calidad, reviv√≠ la experiencia.', '2025-05-25', 7),
(7, 3, 'La tarjeta de livestream de BLACKPINK funcion√≥ bien, pero la presentaci√≥n es b√°sica.', '2025-05-26', 6),
(8, 5, 'El peluche de Felix es adorable, mis hijos lo amaron.', '2025-05-27', 17),
(9, 5, 'Candybong Z, lo mejor para los conciertos. ¬°Un must-have!', '2025-05-28', 18),
(10, 4, 'El √°lbum de ATEEZ FEVER Part.1 es un cl√°sico, lleg√≥ en excelentes condiciones.', '2025-05-29', 19),
(11, 5, 'TXT siempre con conceptos frescos, este √°lbum es top.', '2025-05-30', 8),
(12, 4, 'ITZY con un sonido potente, el digipack est√° bien dise√±ado.', '2025-05-31', 23),
(13, 5, 'SEVENTEEN demuestra su talento vocal y de composici√≥n.', '2025-06-01', 15),
(14, 5, 'ENHYPEN con una est√©tica oscura y cautivadora, muy buen √°lbum.', '2025-06-02', 11),
(15, 4, 'IVE siempre elegantes, las canciones son pegadizas.', '2025-06-03', 5),
(16, 5, 'LE SSERAFIM con su fuerza y confianza, me encanta el mensaje.', '2025-06-04', 25),
(17, 5, 'NewJeans con un sonido refrescante y √∫nico, muy adictivo.', '2025-06-05', 12),
(18, 4, 'NCT 127 siempre trae algo diferente, Sticker es un √°lbum audaz.', '2025-06-06', 9),
(19, 5, 'aespa con un concepto visual impresionante, la m√∫sica es fuerte.', '2025-06-07', 21),
(20, 4, 'EXO nunca falla, sus voces son incre√≠bles. Buen regreso.', '2025-06-08', 24),
(21, 5, 'Red Velvet siempre innovando, Chill Kill es un √°lbum que hay que escuchar.', '2025-06-09', 3),
(22, 4, 'GOT7, aunque ya no est√°n juntos, sus √°lbumes siguen siendo oro.', '2025-06-10', 1),
(23, 5, 'MAMAMOO con su poder vocal, siempre entregan performances top.', '2025-06-11', 20),
(24, 5, '(G)I-DLE tiene un sonido muy propio y este √°lbum lo demuestra.', '2025-06-12', 13),
(25, 4, 'TREASURE tiene mucha energ√≠a en sus canciones, este √°lbum es muy divertido.', '2025-06-13', 4);
""")
    conn.commit()
    conn.close()

crear_base_datos_y_datos()
print("‚úÖ Base de datos creada con √©xito: equipo13.db")

‚úÖ Base de datos creada con √©xito: equipo13.db

In [1]:
import sqlite3
import ipywidgets as widgets
from IPython.display import display, clear_output

DB_NAME = "equipo13.db"

def crear_conexion():
    return sqlite3.connect(DB_NAME)

def ejecutar_consulta(query, params=()):
    conn = crear_conexion()
    cursor = conn.cursor()
    cursor.execute(query, params)
    resultados = cursor.fetchall()
    conn.close()
    return resultados

# ---------------- FUNCIONES POR TABLA ----------------
def mostrar_clientes():
    print("\n=== CLIENTES ===")
    for fila in ejecutar_consulta("SELECT id_cliente, nombre, apellido_paterno, direccion FROM clientes"):
        print(f"{fila[0]} - {fila[1]} {fila[2]} | Direcci√≥n: {fila[3]}")

def mostrar_pedidos():
    print("\n=== PEDIDOS ===")
    for fila in ejecutar_consulta("SELECT id_pedido, fecha_pedido, estado_pedido, total_pedido FROM pedido"):
        print(f"#{fila[0]} | Fecha: {fila[1]} | Estado: {fila[2]} | Total: ${fila[3]}")

def mostrar_artistas():
    print("\n=== ARTISTAS ===")
    for fila in ejecutar_consulta("SELECT id_artista, nombre_artista, agencia FROM artista"):
        print(f"{fila[0]} - {fila[1]} | Agencia: {fila[2]}")

def mostrar_productos():
    print("\n=== PRODUCTOS ===")
    for fila in ejecutar_consulta("SELECT id_producto, nombre_producto, precio, stock FROM producto"):
        print(f"{fila[0]} - {fila[1]} | Precio: ${fila[2]} | Stock: {fila[3]}")

def mostrar_pagos():
    print("\n=== PAGOS ===")
    for fila in ejecutar_consulta("SELECT id_pago, fecha_pago, monto_pago, estado_pago FROM pago"):
        print(f"{fila[0]} | Fecha: {fila[1]} | Monto: ${fila[2]} | Estado: {fila[3]}")

def mostrar_metodos_pago():
    print("\n=== M√âTODOS DE PAGO ===")
    for fila in ejecutar_consulta("SELECT id_metodo_pago, tipo_pago FROM metodo_pago"):
        print(f"{fila[0]} - {fila[1]}")

def mostrar_carritos():
    print("\n=== CARRITOS ===")
    for fila in ejecutar_consulta("SELECT id_carrito, id_cliente, fecha_creacion FROM carritos"):
        print(f"{fila[0]} | Cliente ID: {fila[1]} | Creado: {fila[2]}")

def mostrar_carrito_detalle():
    print("\n=== DETALLE DE CARRITOS ===")
    for fila in ejecutar_consulta("SELECT id_carrito_detalle, id_carrito, id_producto, cantidad FROM carrito_detalle"):
        print(f"{fila[0]} | Carrito ID: {fila[1]} | Producto ID: {fila[2]} | Cantidad: {fila[3]}")

def mostrar_envios():
    print("\n=== ENV√çOS ===")
    for fila in ejecutar_consulta("SELECT id_envio, estado_envio, numero_rastreo FROM envio"):
        print(f"{fila[0]} | Estado: {fila[1]} | Rastreo: {fila[2]}")

def mostrar_resenas():
    print("\n=== RESE√ëAS ===")
    for fila in ejecutar_consulta("SELECT id_resena, calificacion, comentario FROM resena"):
        print(f"{fila[0]} | ‚≠ê {fila[1]} - {fila[2]}")

# ---------------- MEN√ö INTERACTIVO ----------------
def menu_interactivo():
    def ejecutar_opcion(opcion):
        clear_output()
        print(f"üìå {opcion}")
        print("-" * 40)
        funciones = {
            "Ver clientes": mostrar_clientes,
            "Ver pedidos": mostrar_pedidos,
            "Ver artistas": mostrar_artistas,
            "Ver productos": mostrar_productos,
            "Ver pagos": mostrar_pagos,
            "Ver m√©todos de pago": mostrar_metodos_pago,
            "Ver carritos": mostrar_carritos,
            "Ver carrito detalle": mostrar_carrito_detalle,
            "Ver env√≠os": mostrar_envios,
            "Ver rese√±as": mostrar_resenas,
            "Salir": lambda: print("üëã ¬°Hasta luego!")
        }

        if opcion in funciones:
            funciones[opcion]()
            if opcion != "Salir":
                display_menu()

    def display_menu():
        opciones = [
            "Ver clientes",
            "Ver pedidos",
            "Ver artistas",
            "Ver productos",
            "Ver pagos",
            "Ver m√©todos de pago",
            "Ver carritos",
            "Ver carrito detalle",
            "Ver env√≠os",
            "Ver rese√±as",
            "Salir"
        ]
        selector = widgets.Dropdown(
            options=opciones,
            description='Selecciona:',
            style={'description_width': 'initial'}
        )
        boton = widgets.Button(description="Ejecutar")

        def on_click(b):
            ejecutar_opcion(selector.value)

        boton.on_click(on_click)
        display(selector, boton)

    display_menu()

# Ejecutar el men√∫
menu_interactivo()

Dropdown(description='Selecciona:', options=('Ver clientes', 'Ver pedidos', 'Ver artistas', 'Ver productos', '‚Ä¶

Button(description='Ejecutar', style=ButtonStyle())